@font-face {
  font-family: 'Sifonn Pro';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/SIFONN_PRO.woff"); }

@font-face {
  font-family: 'Montserrat';
  src: url("/static/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: 'Sifonn Pro', 'Roboto';
  height: 100vh;
  background: #bc1823;
  background: linear-gradient(170deg, #bc1823 0%, #1b0406 100%); }

.main-title {
  color: white;
  font-size: 3em; }

.main-subtitle {
  font-size: 1.2em;
  color: white;
  font-family: 'Montserrat' !important;
  font-weight: bolder; }

.register-button {
  margin-top: 20px !important; }

.no-link {
  text-decoration: none; }

@media only screen and (width: 320px) and (orientation: portrait) {
  .main-title {
    font-size: 2em; }
  .main-subtitle {
    font-size: 1em; }
  .register-button {
    margin-top: 0px !important; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-title {
    font-size: 3.5em; }
  .main-subtitle {
    font-size: 2em; } }

